<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Guardian AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Guardian Ai </h1>

    <p class="subtitle">
        Women Safety Monitoring System
    </p>


    <!-- STATUS -->
    <div class="status-box">

        <p>
            Status:
            <span id="trackingStatus">
                Not Tracking
            </span>
        </p>

    </div>


    <!-- TRACKING BUTTONS -->
    <div class="buttons">

        <button
            type="button"
            id="startBtn">
            Start Tracking
        </button>

        <button
            type="button"
            id="stopBtn"
            disabled>
            Stop Tracking
        </button>

        <div class="emergency-main">
    <button id="emergencyMainBtn" type="button">
        🚨 EMERGENCY
    </button>
</div>

    </div>


    <!-- GPS INFORMATION -->
    <div class="gps-box">

        <h2>GPS Information</h2>

        <p>
            Latitude:
            <span id="latitude">--</span>
        </p>

        <p>
            Longitude:
            <span id="longitude">--</span>
        </p>

        <p>
            Accuracy:
            <span id="accuracy">--</span> m
        </p>

        <p>
            Speed:
            <span id="speed">--</span> m/s
        </p>

        <p>
            Altitude:
            <span id="altitude">--</span> m
        </p>

        <p>
            Timestamp:
            <span id="timestamp">--</span>
        </p>

    </div>


    <!-- MOVEMENT / EMERGENCY ALERT -->
    <div
        id="alertBox"
        class="alert-box hidden">

        <h2>
            ⚠ Movement Detected
        </h2>

        <p id="movementMessage">
            Movement has been detected.
        </p>


        <!-- EMERGENCY ACTION BUTTONS -->
        <div class="emergency-buttons">

            <button
                type="button"
                id="safeBtn">
                Confirm Safe
            </button>

            <button
                type="button"
                id="emergencyBtn">
                Report Emergency
            </button>

        </div>

    </div>

</div>


<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>